    <div class="container">
        <div class="row top"> 
            <div class="col-md-6"  *ngIf ="user" >
                <img src='{{user.avatar_url}}' alt="" class=" card-img mt-2 mb-2">
                    <p class="name" ><span appHighlight>{{user.name}}</span></p>
                    <a href='{{user.html_url}}' type="button" class="btn btn-outline-dark btn-sm git">Github Account</a>
            </div>
            <div class="col-md-6">
                 <div class = 'details'>
                    <p>Number of Repositories: {{user.public_repos}}</p>
                    <p>Followers: {{user.followers}}</p>
                    <p>Following: {{user.following}}</p>
                    <p>Date Created : {{user.created_at|datepipe}}</p>
                 </div>
            </div>
        </div>
        <hr>   
    
    <div class="container">
                <div class ="card" *ngFor = "let repos of repo">
                    <div class="card-header">
                        <p  class ='repo'>Repository Name: <a href="{{repos.html_url}}">{{repos.name}}</a></p>
                    </div>   
                    <div class="card-body" >  
                            <p><strong>Description</strong> : {{repos.description}}</p>
                            <p><strong>Date Created</strong> : {{repos.created_at|datepipe}}</p>
                    </div>
                </div>   
        </div>
       