
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="#">
        <img src="assets/git1.png" width="40" height="40" class="d-inline-block align-top" alt="">
          GitSeach
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button> 
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
          <li><a class="nav-item nav-link active d-inline" routerLink ="home" routerLinkActive='active'>Home</a></li>
          <li><a class="nav-item nav-link d-inline" routerLink="display_results" routerLinkActive='active'>Search GitUser</a></li>
      </ul>
   </div>  
  </nav>
  